.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:1.346191;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:1.330078;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:1.383301;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:1.003906;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:1.338867;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff6;src:url(f6.woff)format("woff");}.ff6{font-family:ff6;line-height:0.914062;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls2{letter-spacing:-1.232000px;}
.ls0{letter-spacing:0.000000px;}
.ls1{letter-spacing:0.008000px;}
.ls3{letter-spacing:0.348000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._2{margin-left:-2.076000px;}
._1{margin-left:-1.072000px;}
._0{width:1.040000px;}
.fc2{color:rgb(8,100,161);}
.fc1{color:rgb(5,99,193);}
.fc3{color:rgb(73,120,52);}
.fc0{color:rgb(0,0,0);}
.fs1{font-size:36.000000px;}
.fs3{font-size:40.000000px;}
.fs2{font-size:44.000000px;}
.fs4{font-size:48.000000px;}
.fs0{font-size:112.000000px;}
.y9{bottom:0.000000px;}
.y8{bottom:3.250000px;}
.y5{bottom:3.500000px;}
.y4a{bottom:6.000000px;}
.y2{bottom:9.750000px;}
.y7{bottom:17.000000px;}
.y42{bottom:17.030000px;}
.y2b{bottom:19.750000px;}
.y49{bottom:22.250000px;}
.y1f{bottom:25.250000px;}
.y3{bottom:27.500000px;}
.y1a{bottom:30.750000px;}
.y2a{bottom:33.250000px;}
.y41{bottom:33.280000px;}
.y48{bottom:38.500000px;}
.y1d{bottom:40.250000px;}
.y4c{bottom:40.280000px;}
.y1e{bottom:41.500000px;}
.y2d{bottom:41.525000px;}
.y4d{bottom:41.530000px;}
.y19{bottom:44.500000px;}
.y40{bottom:46.780000px;}
.y29{bottom:47.000000px;}
.y46{bottom:53.520000px;}
.y47{bottom:54.770000px;}
.y39{bottom:58.000000px;}
.y18{bottom:58.020000px;}
.y28{bottom:60.520000px;}
.y3f{bottom:60.530000px;}
.y17{bottom:71.770000px;}
.y38{bottom:71.780000px;}
.y27{bottom:76.780000px;}
.y16{bottom:85.270000px;}
.y37{bottom:85.280000px;}
.y26{bottom:90.530000px;}
.y2c{bottom:96.525000px;}
.y15{bottom:99.020000px;}
.y36{bottom:99.030000px;}
.y3e{bottom:104.050000px;}
.y25{bottom:104.280000px;}
.y14{bottom:112.770000px;}
.y35{bottom:112.780000px;}
.y24{bottom:117.780000px;}
.y3c{bottom:119.050000px;}
.y3d{bottom:120.300000px;}
.y13{bottom:126.270000px;}
.y34{bottom:126.280000px;}
.y22{bottom:132.800000px;}
.y23{bottom:134.050000px;}
.y33{bottom:140.030000px;}
.y12{bottom:140.050000px;}
.y21{bottom:148.300000px;}
.y11{bottom:153.540000px;}
.y32{bottom:153.550000px;}
.y10{bottom:167.290000px;}
.y31{bottom:167.300000px;}
.y4e{bottom:171.550000px;}
.yf{bottom:181.040000px;}
.y4b{bottom:182.050000px;}
.y2f{bottom:182.300000px;}
.y30{bottom:183.550000px;}
.ye{bottom:194.540000px;}
.yc{bottom:207.040000px;}
.yd{bottom:208.320000px;}
.y45{bottom:233.830000px;}
.y20{bottom:304.600000px;}
.y44{bottom:310.850000px;}
.y1c{bottom:315.100000px;}
.y43{bottom:333.350000px;}
.y3b{bottom:343.850000px;}
.y1b{bottom:378.880000px;}
.yb{bottom:389.380000px;}
.y3a{bottom:474.400000px;}
.y2e{bottom:526.170000px;}
.ya{bottom:619.950000px;}
.y6{bottom:630.450000px;}
.y0{bottom:646.000000px;}
.y4{bottom:657.700000px;}
.y1{bottom:683.970000px;}
.h1{height:14.000000px;}
.h5{height:26.275000px;}
.h7{height:27.250000px;}
.h2{height:36.000000px;}
.h4{height:37.423828px;}
.h8{height:43.763672px;}
.hf{height:45.417969px;}
.hb{height:45.740234px;}
.h6{height:46.449219px;}
.ha{height:49.898438px;}
.hc{height:51.775000px;}
.h11{height:65.025000px;}
.h3{height:116.429688px;}
.h10{height:130.550000px;}
.hd{height:144.300000px;}
.he{height:193.800000px;}
.h9{height:218.560000px;}
.h0{height:792.000000px;}
.w5{width:109.550000px;}
.w2{width:229.600000px;}
.w3{width:238.600000px;}
.w6{width:345.150000px;}
.w1{width:398.000000px;}
.w4{width:611.999991px;}
.w0{width:612.000000px;}
.x6{left:0.000009px;}
.x2{left:5.500000px;}
.x5{left:14.250000px;}
.x1{left:72.025000px;}
.x0{left:121.000000px;}
.x4{left:136.800000px;}
.x7{left:181.580000px;}
.x3{left:301.630000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls2{letter-spacing:-1.642667pt;}
.ls0{letter-spacing:0.000000pt;}
.ls1{letter-spacing:0.010667pt;}
.ls3{letter-spacing:0.464000pt;}
.ws0{word-spacing:0.000000pt;}
._2{margin-left:-2.768000pt;}
._1{margin-left:-1.429333pt;}
._0{width:1.386667pt;}
.fs1{font-size:48.000000pt;}
.fs3{font-size:53.333333pt;}
.fs2{font-size:58.666667pt;}
.fs4{font-size:64.000000pt;}
.fs0{font-size:149.333333pt;}
.y9{bottom:0.000000pt;}
.y8{bottom:4.333333pt;}
.y5{bottom:4.666667pt;}
.y4a{bottom:8.000000pt;}
.y2{bottom:13.000000pt;}
.y7{bottom:22.666667pt;}
.y42{bottom:22.706667pt;}
.y2b{bottom:26.333333pt;}
.y49{bottom:29.666667pt;}
.y1f{bottom:33.666667pt;}
.y3{bottom:36.666667pt;}
.y1a{bottom:41.000000pt;}
.y2a{bottom:44.333333pt;}
.y41{bottom:44.373333pt;}
.y48{bottom:51.333333pt;}
.y1d{bottom:53.666667pt;}
.y4c{bottom:53.706667pt;}
.y1e{bottom:55.333333pt;}
.y2d{bottom:55.366667pt;}
.y4d{bottom:55.373333pt;}
.y19{bottom:59.333333pt;}
.y40{bottom:62.373333pt;}
.y29{bottom:62.666667pt;}
.y46{bottom:71.360000pt;}
.y47{bottom:73.026667pt;}
.y39{bottom:77.333333pt;}
.y18{bottom:77.360000pt;}
.y28{bottom:80.693333pt;}
.y3f{bottom:80.706667pt;}
.y17{bottom:95.693333pt;}
.y38{bottom:95.706667pt;}
.y27{bottom:102.373333pt;}
.y16{bottom:113.693333pt;}
.y37{bottom:113.706667pt;}
.y26{bottom:120.706667pt;}
.y2c{bottom:128.700000pt;}
.y15{bottom:132.026667pt;}
.y36{bottom:132.040000pt;}
.y3e{bottom:138.733333pt;}
.y25{bottom:139.040000pt;}
.y14{bottom:150.360000pt;}
.y35{bottom:150.373333pt;}
.y24{bottom:157.040000pt;}
.y3c{bottom:158.733333pt;}
.y3d{bottom:160.400000pt;}
.y13{bottom:168.360000pt;}
.y34{bottom:168.373333pt;}
.y22{bottom:177.066667pt;}
.y23{bottom:178.733333pt;}
.y33{bottom:186.706667pt;}
.y12{bottom:186.733333pt;}
.y21{bottom:197.733333pt;}
.y11{bottom:204.720000pt;}
.y32{bottom:204.733333pt;}
.y10{bottom:223.053333pt;}
.y31{bottom:223.066667pt;}
.y4e{bottom:228.733333pt;}
.yf{bottom:241.386667pt;}
.y4b{bottom:242.733333pt;}
.y2f{bottom:243.066667pt;}
.y30{bottom:244.733333pt;}
.ye{bottom:259.386667pt;}
.yc{bottom:276.053333pt;}
.yd{bottom:277.760000pt;}
.y45{bottom:311.773333pt;}
.y20{bottom:406.133333pt;}
.y44{bottom:414.466667pt;}
.y1c{bottom:420.133333pt;}
.y43{bottom:444.466667pt;}
.y3b{bottom:458.466667pt;}
.y1b{bottom:505.173333pt;}
.yb{bottom:519.173333pt;}
.y3a{bottom:632.533333pt;}
.y2e{bottom:701.560000pt;}
.ya{bottom:826.600000pt;}
.y6{bottom:840.600000pt;}
.y0{bottom:861.333333pt;}
.y4{bottom:876.933333pt;}
.y1{bottom:911.960000pt;}
.h1{height:18.666667pt;}
.h5{height:35.033333pt;}
.h7{height:36.333333pt;}
.h2{height:48.000000pt;}
.h4{height:49.898438pt;}
.h8{height:58.351562pt;}
.hf{height:60.557292pt;}
.hb{height:60.986979pt;}
.h6{height:61.932292pt;}
.ha{height:66.531250pt;}
.hc{height:69.033333pt;}
.h11{height:86.700000pt;}
.h3{height:155.239583pt;}
.h10{height:174.066667pt;}
.hd{height:192.400000pt;}
.he{height:258.400000pt;}
.h9{height:291.413333pt;}
.h0{height:1056.000000pt;}
.w5{width:146.066667pt;}
.w2{width:306.133333pt;}
.w3{width:318.133333pt;}
.w6{width:460.200000pt;}
.w1{width:530.666667pt;}
.w4{width:815.999988pt;}
.w0{width:816.000000pt;}
.x6{left:0.000012pt;}
.x2{left:7.333333pt;}
.x5{left:19.000000pt;}
.x1{left:96.033333pt;}
.x0{left:161.333333pt;}
.x4{left:182.400000pt;}
.x7{left:242.106667pt;}
.x3{left:402.173333pt;}
}
